

<div class="card container"(click)="getInfos(candidat)">
    <i class="fas fa-user faBox"></i>
    <div class="card-body">
        <h5 class="card-text name">{{candidat.name}}</h5>
        <p class="card-text job-title">{{candidat.jobTitle}}</p>
        <p class="card-text email">{{candidat.email}}</p>
        <p class="card-text phone">{{candidat.phone}}</p>
    </div>
</div>


<!-- <div class="card container"(click)="getInfos(candidat)">
    <img src="https://via.placeholder.com/150" class="card-img-top" alt="Place Holder">
    <div class="card-body">
        <h5 class="card-text name">{{candidat.name}}</h5>
        <p class="card-text job-title">{{candidat.jobTitle}}</p>
        <p class="card-text email">{{candidat.email}}</p>
        <p class="card-text phone">{{candidat.phone}}</p>
    </div>
</div> -->