<main class="main">
  <!-- TITLE - STAGE...................................... -->
  <div class="title">
    <h2>Offre de stage</h2>
    <h1>{{offreStage.title}}</h1>
    <p><span class="entreprise">{{offreStage.enterprise}}</span></p>
  </div>

  <!-- ACTIONS CRUD BTN -->
  <div id="crud">
    <button><i class="fa-solid fa-check accepticon" (click)="offerStatus(offreStage,true)" onclick="alert('Offre activée')" ></i></button>
    <button><i class="fa-solid fa-pen-to-square editicon" routerLink='/offres-de-stages/edit/{{ offreStage._id }}'></i></button>
    <button (click)="open(deleteModal,offreStage)"><i class="fas fa-window-close"></i></button>
  </div>

  <div class="fiche">
    <!-- INFO ENTREPRISE...................................... -->
    <h3>Description de la tâche</h3>
    <p>{{offreStage.description}}</p>

    <!-- 1ERE ROW...................................... -->
    <div class="row">
      <!-- 1ERE ROW - COL 12 -->
      <div class="border-form">
        <h5>Formations demandées</h5>
        <p>{{offreStage.program}}</p>
      </div>
      <div class="border-form">
        <h5>Exigences</h5>
        <p>{{offreStage.requirements}}</p>
      </div>
    </div>

    <!-- 2E ROW...................................... -->
    <div class="row">
      <h4>Informations sur le stage</h4>
      <!-- 2E ROW - COL 6 -->
      <div class="col-md-6">
        <div class="border-form">
          <h5>Type de stage</h5>
          <p>{{offreStage.additionalInfo}}</p>
        </div>
        <div class="border-form">
          <h5>Nombre d'heure par semaine</h5>
          <p>{{offreStage.hoursPerWeek}}</p>
        </div>
        <div class="border-form">
          <h5>Rémunération</h5>
          <p>{{offreStage.paid}}</p>
        </div>
      </div>
      <!-- 2E ROW - COL 6 -->
      <div class="col-md-6">
        <div class="border-form">
          <h5>Date de début</h5>
          <p>{{offreStage.startDate | date:'longDate':'undefined':'fr'}}</p>
        </div>
        <div class="border-form">
          <h5>Date de fin</h5>
          <p>{{offreStage.endDate | date:'longDate':'undefined':'fr'}}</p>
        </div>
      </div>
    </div>
    <!-- INFORMATION SUPP...................................... -->
    <h4>Informations supplémentaires</h4>
    <p>{{offreStage.additionalInfo}}</p>
  </div>
</main>

<!-- MODAL DELETE ....................................... -->
<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="titremodal">Suppression</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body text-center">
    Voulez vous supprimer l'offre de stage ?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Delete')">Oui</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('No')">Non</button>
  </div>
</ng-template>