<div class="side-nav">
    <button class="teal"><a routerLink="/#">
            <fa-icon [icon]="faChartLine"></fa-icon> Tableau de bord
        </a></button>
    <button class="yellow"><a routerLink="/#">
            <fa-icon [icon]="faAddressCard"></fa-icon> Demandes de stages
        </a></button>
    <button class="red"><a routerLink="/#">
            <fa-icon [icon]="faPaperPlane"></fa-icon> Offres de stage
        </a></button>
    <button class="pink"><a routerLink="/#">
            <fa-icon [icon]="faUser"></fa-icon> Candidats
        </a></button>
    <button class="light-blue"><a routerLink="/#">
            <fa-icon [icon]="faBuilding"></fa-icon> Entreprises
        </a></button>
</div>
