

<!-- CODE JULIEN.............................. -->

<!-- <div class="side-nav">
    <button class="teal" routerLink="/tableau-de-bord">
        <fa-icon [icon]="faChartLine"></fa-icon> Tableau de bord
    </button>
    <button class="yellow" routerLink="/demandes-de-stages">
        <fa-icon [icon]="faAddressCard"></fa-icon> Demandes de stages
    </button>
    <button class="red" routerLink="/offres-de-stages">
        <fa-icon [icon]="faPaperPlane"></fa-icon> Offres de stage
    </button>
    <button class="pink" routerLink="/candidats">
        <fa-icon [icon]="faUser"></fa-icon> Candidats
    </button>
    <button class="light-blue" routerLink="/entreprises">
        <fa-icon [icon]="faBuilding"></fa-icon> Entreprises
    </button>
</div> -->