<!-- 
*** DEMANDE STAGE VIEW ***
FICHE CANDIDAT
-->
    
<!-- <div class="fiche">

        
    <h3>{{requete_stage.studentName}}</h3>
    
    <p>{{requete_stage.studentPresentation}}studentName</p>
    
    <div>
        <h5>Programme de formation</h5>
        <p>{{requete_stage.program}}</p>

        <h5>Secteur d'activité</h5>
        <p>{{requete_stage.activitySector}}</p>

        <h5>Compétences</h5>
        <p>{{requete_stage.skills}}</p>
    </div>

    <div>
        <h5>Établissement d'enseignement</h5>
        <p>{{requete_stage.school}}</p>

        <h5>Ville</h5>
        <p>{{requete_stage.city}}</p>

        <h5>Région</h5>
        <p>{{requete_stage.region}}</p>
    </div>

    <h4>Information sur le stage recherché</h4>
    <div>
        <h5>Type de stage</h5>
        <p>{{requete_stage.stageType}}</p>

        <h5>Nombre d'heure par semaine</h5>
        <p>{{requete_stage.hoursPerWeek}}</p>

        <h5>Rémunération</h5>
        <p>{{requete_stage.paid}}</p>
    </div>

    <div> 
        <h5>Date de début</h5>
        <p>{{requete_stage.startDate}}</p>

        <h5>Date de fin</h5>
        <p>{{requete_stage.endDate}}</p>
    </div>

    <h4>Informations supplémentaires</h4>
    <p>{{requete_stage.additionalInfo}}</p>

</div>
<button type=submit class="btn btn-primary" onclick=" window.open('../assets/COVERcvPDF.pdf');">


    <i class="fas fa-cloud-download-alt"></i> Télécharger le C.V.</button> -->
