<main class="main">
  <div class="fiche">
    <!-- ENTÊTE  -->
    <div class="container g-0">
      <div class="row mt-3 mb-5">
        <div class="col-xl-8">
          <h2>Dernières <span class="demandes">demandes</span> de stage</h2>
          <p class="attente">En attente de validation</p>
        </div>
        <!--- valider les demandes -->
        <div class="col-xl-4">
          <button type="button" class="bouton " (click)="acceptAll()"
            onclick="alert('Toutes les demandes sont maintenant activées')">
            Valider toutes les demandes
          </button>
        </div>
      </div>
    </div>

    <!-- *************************************
    TABLEAU EN LISTE
    ****************************************** -->
    <div class="container-fluid">
      <ul>
        <!-- 2 <li> avec enfants <ul> -->
        <!-- <LI> TITRE POUR XL et + -->
        <li id="titreMD">
          <ul class="row">
            <li class="col-12 d-none">ID</li>
            <li class="col-xl-4 mx-auto">
              <p class="me-3 pb-2 borderTitle">Profil</p>
              <!-- <hr> -->
            </li>
            <li class="col-xl-2 mx-auto">
              <p class="me-3 mb-4 pb-2 borderTitle">Établissement</p>
            </li>
            <li class="col-xl-2">
              <p class="me-3 mb-4 pb-2 borderTitle">Date&nbsp;d'inscription</p>
            </li>
            <li class="col-xl-4">
              <p class="mb-4 pb-2 borderTitle">Actions</p>
            </li>
          </ul>
        </li>
        <!-- <LI> TITRE POUR MOBILE & données-->
        <!-- ID -->
        <li>
          <ul class="row my-4 border-bottom" *ngFor="let requeteStage of requetesStage">
            <li class="col-12 d-none mx-auto">
              <p class="me-xl-3 mb-xl-4 pb-xl-2 ">
                <span class="titreXS">ID<br></span>
                {{ requeteStage._id }}
              </p>
            </li>
            <!-- POSTE -->
            <li class="col-12 col-xl-4 mb-3 mb-xl-4"
              [ngClass]="requeteStage.active ? 'bordure' : 'bordure bordure-inactive'">
              <p class="me-xl-3">
                <span class="titreXS">Poste<br>
                </span>
                <i
                  [ngClass]="requeteStage.active ? 'fa-solid fa-graduation-cap' : 'fa-solid fa-graduation-cap fa-graduation-cap-inactive'"></i>
                <span class="bold" [ngClass]="requeteStage.active ? 'poste ' : 'poste poste-inactive'">{{
                  requeteStage.title }}<br></span>
                {{ requeteStage.studentName}}
              </p>
            </li>
            <!-- ÉTABLISSEMENT -->
            <li class="col-12 col-xl-2 mb-3 mb-xl-4">
              <p class="me-lg-3 mb-lg-4">
                <span class="titreXS">Établissement<br></span>
                {{ requeteStage.activitySector }}
              </p>
            </li>
            <!-- DATE INSCRIPTION -->
            <li class="col-6 col-xl-2">
              <p class="me-3 mb-4 pb-2">
                <span class="titreXS">Date d'inscription<br></span>
                {{ requeteStage.startDate | date:'longDate':'undefined':'fr'}}
              </p>
            </li>
            <!-- BOUTONS ACTIONS -->
            <li class="col-12 col-xl-4 mx-auto mb-5 mb-xl-0">
              <button type="button" class="boutonrefus" (click)="requeteStatus(requeteStage,false)">Refuser</button>
              <button type="button" class="boutonaccept" (click)="requeteStatus(requeteStage,true)"
                (click)="open(AccepterModal,requeteStage)">Accepter</button>
              <button class="crudbut"><i class="fa-solid fa-eye"
                  routerLink='/demandes-de-stages/view/{{ requeteStage._id }}'></i></button>
              <button class="crudbut" (click)="editRequetestages()">
                <i class="fa-solid fa-pen-to-square" routerLink='/demandes-de-stages/edit/{{ requeteStage._id }}'></i>
              </button>
              <button class="crudbut" (click)="open(deleteModal,requeteStage)">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</main>

<!--- MODAL SUPPRESSION DEMANDE DE STAGE -->
<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="titremodal">Suppression</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body text-center">
    Voulez vous supprimer la demande de stage ?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Delete')">Oui</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('No')">Non</button>
  </div>
</ng-template>

<!--- MODAL ACCEPTATION DEMANDE DE STAGE -->
<ng-template #AccepterModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="titremodal">Acceptation</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
      <span aria-hidden="true">x</span>
    </button>
  </div>
  <div class="modal-body text-center">
    Vous avez accepté l'offre
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('No')">OK</button>
  </div>
</ng-template>