@import '../../../sass/utils/_variables'
@import '../../../sass/utils/_mixin-btn'
@import '../../../sass/utils/_mixins'
@import '../../../sass/modules/_demandes-offres-liste'


.fiche .bouton
	@include bouton($color-tableaubord, $color-tableaubord-hover)
	padding: 1rem
.fiche .boutonrefus
	@include bouton($accept50, $accept-hover)
	margin-right: .25rem
	color: $accept

.fiche .boutonaccept, .close
	@include bouton($refus50, $refus-hover)
	margin-right: .25rem
	color: $refus

$color_attente : #BB2026

.attente 
	color: $color_attente

.demandes 
	color: $color-demandes

.borderTitle
	color: $color-h1-h2-p!important
	font-weight: 700


.close
	@include bouton($refus50, $refus-hover)
	margin-right: .25rem
	color: $refus