//colors
$color_add: #f89747
$color_edit: #22a6ac
$color_delete: #F26689ed
$color_mortar_bg: #e6c07f
$color_graduation_active: #70582E
$color_title: #707070


.crudbut 
	border: none
	background: none

.title 
	color: $color_title


.fa-pen-to-square 
	color: $color_add

.fa-eye 
	color: $color_edit

.fa-trash-can 
	color: $color_delete


.mortarbutton
	background-color: $color_mortar_bg
	border : 2px black
	margin-right: 25px
	padding: 15px
	border-radius: 10px
	

	.fa-graduation-cap
	color: $color_graduation_active

	.etudiants
	float:right

