<div class="container">
    <h2>Demande de stage</h2>
    <div class="ajout">
      <button class="btn btn-warning" role="alert">Ajouter une demande</button>
    </div>
  
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="d-none">ID</th>
          <th scope="col">Poste</th>
          <th scope="col">Secteur d'activité</th>
          <th scope="col">Région</th>
          <th scope="col">Date d'inscription</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let requeteStage of requetesStage">
          <td class="d-none">{{requeteStage._id}}</td>
          <td>
            <i class="fa fa-graduation-cap"></i> {{requeteStage.title}}
            <br />{{requeteStage.studentName}}
          </td>
          <td>{{requeteStage.activitySector}}</td>
          <td>{{requeteStage.region}}</td>
          <td>{{requeteStage.startDate}}</td>
          <td>
            <button class = "crudbut"> <i class="fa-solid fa-eye p-2"></i></button>
            <button class = "crudbut"> <i class="fa-solid fa-pen-to-square p-2"></i> </button>
            <button class = "crudbut" (click)="onDelete(requeteStage)">
              <i class="fa-solid fa-trash-can p-2"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  