<app-menu></app-menu>

<!DOCTYPE html>
<html lang="fr-CA">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Affichage de candidats disponibles pour un stage en entreprise de développeur Front-End - eStage">

    <title>Demande de stage - Développeur Front-End - eStage</title>

</head>

<body>
    <h2>{{ dyn - title }}Demande de stage</h2>
    <h1>{{ dyn - secteurs_activites > title }}Développeur Front-End</h1>
    <!-- ICI COMPOSANT ICÔNES -->

    <!-- 
*** DEMANDE VIEW ***
FICHE CANDIDAT
-->
    <div class="fiche">
        <!-- candidats > name -->
        <h3>{{ dyn - candidats name }} Kevin Labonté </h3>
        <!-- candidats > description -->
        <p>{{ dyn - candidats description }} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet
            quam justo. Aliquam interdum facilisis eros, ut dapibus quam hendrerit nec.</p>

        <div>
            <!-- program -->
            <h5>Programme de formation</h5>
            <p>{{dyn - program}} Développement Web </p>

            <!-- secteurs_activites > title -->
            <h5>Secteur d'activité</h5>
            <p>{{ dyn - secteurs_activites title }} Nouvelles technologies de l'information </p>

            <!-- skills -->
            <h5>Compétences</h5>
            <p>{{ dyn - skills }} HTML, CSS, JavaScript, React, vue.js, GIT PHP, MySQL.</p>
        </div>

        <div>
            <!-- Établissement d'enseignement** -->
            <h5>Établissement d'enseignement</h5>
            <p>{{ dyn - ? }} Cégep de Trois-Rivières</p>

            <!-- candidats > city -->
            <h5>Ville</h5>
            <p>{{ dyn - candidats city }} Trois-Rivières</p>

            <!-- region > title -->
            <h5>Région</h5>
            <p>{{ dyn - region title }} Mauricie</p>
        </div>

        <h4>Information sur le stage recherché</h4>
        <div>
            <!-- stageType -->
            <h5>Type de stage</h5>
            <p>{{ dyn - stageType }} Temps plein</p>

            <!-- hoursPerWeek -->
            <h5>Nombre d'heure par semaine</h5>
            <p>{{ dyn - hoursPerWeek }} 25 heures par semaine</p>

            <!-- paid -->
            <h5>Rémunération</h5>
            <p>{{ dyn - paid }} À la discrétion de l'entreprise</p>
        </div>
        <div>
            <!-- startDate -->
            <h5>Date de début</h5>
            <p>{{ dyn - startDate }} 2022-05-25</p>

            <!-- endDate -->
            <h5>Date de fin</h5>
            <p>{{ dyn - endDate }} 2022-09-01</p>
        </div>
        <!-- additionalInfo -->
        <h4>Informations supplémentaires</h4>
        <p>{{ dyn - additionalInfo }} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet quam
            justo. Aliquam interdum facilisis eros, ut dapibus quam hendrerit nec.</p>

        <button type="button"
            onclick="alert('Ceci est supposé être un bouton de upload qui ne sera pas fonctionnel pour le projet')">Télécharger
            le C.V.</button>
    </div>
</body>

</html>