<div class="container">
   <h2>Dernière demandes de stage</h2>
   <p>En attente de validation</p>
   <!--- valider les demandes -->
   <!---<div class="d-flex justify-content-end">-->
   <button type="button" class="btn btn-info  ">
      Valider toutes les demandes
   </button>
   <!--- table borderless pour enlever le HR sous les entêtes -->
   <table class="table table-borderless">
      <thead>
         <tr class="title">
            <th scope="col" class="d-none">ID</th>
            <th scope="col">Profil</th>
            <th scope="col">Établissement</th>
            <th scope="col">Date</th>
            <th scope="col">Actions</th>
         </tr>
      </thead>
      <tbody>

         <tbody *ngFor="let requeteStage of requetesStage">
 <!---     <tr *ngIf="requeteStage.active">  -->
            <tr >

            <td class="d-none">{{ requeteStage._id }}</td>
            <td>
               <i class="fas fa-graduation-cap"></i>{{ requeteStage.title }} {{ requeteStage.studentName }}</td>
            <td>{{ requeteStage.school }}</td>
            <td>{{ requeteStage.startDate | date:'longDate':'undefined':'fr' }}</td>
            <!--- ACCEPTER / REFUSER -->
            <td>
               <button type="button" class="btn btn-danger m-2"
                 (click)="requeteStatus(requeteStage,false)">Refuser</button>
               <button type="button" class="btn btn-success m-1"
                 (click)="requeteStatus(requeteStage,true)" (click)="open(AccepterModal,requeteStage)">Accepter</button>
     
               <button class="crudbut"><i class="fa-solid fa-eye p-2" routerLink='/demandes-de-stages/view/{{ requeteStage._id }}'></i></button>
               <button class="crudbut" (click)="editRequetestages()">
                 <i class="fa-solid fa-pen-to-square" routerLink='/demandes-de-stages/edit/{{ requeteStage._id }}'></i>
               </button>
               <button class="crudbut" (click)="open(deleteModal,requeteStage)">
                 <i class="fa-solid fa-trash-can p-2"></i>
               </button>
            </td>
         </tr>
      </tbody>
   </table>
</div>


<!--- MODAL SUPPRESSION DEMANDE DE STAGE -->
<ng-template #deleteModal let-modal>
   <div class="modal-header">
      <h4 class="modal-title" id="titremodal">Suppression</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
         <span aria-hidden="true">×</span>
      </button>
   </div>
   <div class="modal-body text-center">
      Voulez vous supprimer la demande de stage ?
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Delete')">Oui</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('No')">Non</button>
   </div>
</ng-template>


<!--- MODAL ACCEPTATION DEMANDE DE STAGE -->

<ng-template #AccepterModal let-modal>
   <div class="modal-header">
     <h4 class="modal-title" id="titremodal">Acceptation</h4>
     <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
       <span aria-hidden="true">×</span>
     </button>
   </div>
   <div class="modal-body text-center">
     Vous avez accepté l'offre
   </div>
   <div class="modal-footer">
     <button type="button" class="btn btn-outline-dark" (click)="modal.close('No')">Revenir</button>
   </div>
 </ng-template>