<main class="main">
  <!-- TITLE - ADD STAGE...................................... -->
  <div class="title">
    <h1>Ajouter une demande</h1>
  </div>
  <!-- ACTIONS BTN -->
  <div class="d-flex justify-content-end my-5">
    <app-btn-annuler></app-btn-annuler>
    <app-maj-demande nomBtn="Sauvegarder" [requeteStage]="requeteStage"></app-maj-demande>
  </div>
  <!-- CHAMPS TITRE -->
  <form class="needs-validation" >
    <div class="row mb-5">
      <div class="col-md-1">
        <label class="center">Titre : </label>
      </div>
      <div class="col-md-11">
        <input class="form-control" type="text" [(ngModel)]="requeteStage.title" name="Dynamic Accounts Officer" value = "titre" required>
      </div>
      
    </div>
    <!-- INFO DEMANDE...................................... -->
    <div class="fiche">
      <!--- Nom-->
      <label>Nom et prénom</label>
      <input class="form-control  mb-4" type="text" [(ngModel)]="requeteStage.studentName" name="John Doe" required>
      <!--- Présentation-->
      <div class="form-group">
        <label>Présentation</label>
        <!--- Textbox info supp-->
        <textarea class="form-control mb-4" id="formtext" rows="2" [(ngModel)]="requeteStage.studentPresentation"
          name="Présentation" required></textarea>
      </div>
      <div class="row">
        <div class="col-md-6">
          <!--- Programme -->
          <div class="border-form">
            <label>Programme de formation</label>
            <input type="text" class="form-control" [(ngModel)]="requeteStage.program" name="Formation" required>
          </div>
        </div>
        <div class="col-md-6">
          <!--- Établissement -->
          <div class="border-form">
            <label>Établissement scolaire</label>
            <input type="text" class="form-control" [(ngModel)]="requeteStage.school" name="Établissement" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <!--- Secteur d'activité -->
          <div class="border-form">
            <label>Secteur d'activité</label>
            <select class="form-control padding" [(ngModel)]="requeteStage.activitySector" name="Établissement"
              required>
              <option *ngFor="let activitySector of activitySectors" value={{activitySector.title}}>
                {{activitySector.title}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <!--- Ville -->
          <div class="border-form">
            <label>Ville</label>
            <input type="text" class="form-control" [(ngModel)]="requeteStage.city" name="Ville" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <!--- Région -->
          <div class="border-form">
            <label>Région</label>
            <select class="form-control padding" [(ngModel)]="requeteStage.region" name="Région" required>
              <option value="a-voir">Veuillez effectuer un choix</option>
              <option value="Kansas">Kansas</option>
              <option value="Connecticut">Connecticut</option>
              <option value="Washington">Washington</option>
              <option value="Illinois">Illinois</option>
              <option value="Nevada">Nevada</option>
              <option value="Nebraska">Nebraska</option>
              <option value="Vermont">Vermont</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <!--- Compétences -->
          <div class="border-form">
            <label>Compétences</label>
            <textarea class="form-control" id="formtext" rows="2" [(ngModel)]="requeteStage.skills" name="Compétences"
              required></textarea>
          </div>
        </div>
      </div>
      <!--- Bloc 2 -->
      <h4>Informations sur le stage recherché</h4>
      <div class="row">
        <div class="col-md-6">
          <!--- Type de stage -->
          <div class="border-form">
            <label>Type de stage</label>
            <select class="form-control padding" [(ngModel)]="requeteStage.stageType" name="stageType" required>
              <option value="fulltime">Temps Plein</option>
              <option value="parttime">Temps Partiel</option>
            </select>
          </div>
          <!--- Nombre d'heures semaine-->
          <div class="border-form">
            <label>Nombres d'heures par semaine</label>
            <select class="form-control padding" [(ngModel)]="requeteStage.hoursPerWeek" name="Nombre D'heures"
              required>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
              <option value="25">25</option>
              <option value="30">30</option>
              <option value="35">35</option>
              <option value="40">40</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <!--- Date de début-->
          <div class="border-form">
            <label>Date de début</label>
            <input class="form-control" type="date" id="start" value="{{requeteStage.startDate}}" min="2022-01-01"
              max="2025-12-31" [ngModel]="requeteStage.startDate | date:'yyyy-MM-dd'"
              (ngModelChange)="requeteStage.startDate = $event" name="Start Date" required>
          </div>
          <!--- date de fin-->
          <label>Date de fin</label>
          <input class="form-control" type="date" id="end" value="{{requeteStage.endDate}}" min="2022-01-01"
            max="2025-12-31" [ngModel]="requeteStage.endDate | date:'yyyy-MM-dd'"
            (ngModelChange)="requeteStage.endDate = $event" name="End Date" required>
        </div>
      </div>
      <!--- Rémunération-->
      <div class="border-form">
        <label>Rémunération</label>
        <div class="form-check">
          <div class="row">
            <div class="checkbox">
              <label class="enumeration">
                <input type="checkbox" value="not-specified" [checked]="checkPaid('not-specified')"
                  (change)="onCheckboxChange($event)" name="not-specified">&nbsp;&nbsp;À la discrétion de l'entreprise
              </label>
            </div>
            <div class="checkbox">
              <label class="enumeration">
                <input type="checkbox" value="paid" [checked]="checkPaid('paid')" (change)="onCheckboxChange($event)"
                  name="paid">&nbsp;&nbsp;Stage rémunéré
              </label>
            </div>
            <div class="checkbox">
              <label class="enumeration">
                <input type="checkbox" value="unpaid" [checked]="checkPaid('unpaid')"
                  (change)="onCheckboxChange($event)" name="unpaid">&nbsp;&nbsp;Stage non rémunéré
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <h4>Information supplémentaire</h4>
        <!--- Textbox info supp-->
        <textarea class="form-control" id="formtext" rows="4" [(ngModel)]="requeteStage.additionalInfo" name="More Info"
          required></textarea>
      </div>
      <!--- Bouton parcourir -->
      <div class="row mt-5">
        <div class="col-md-8">
          <input type="text" class="parcourir">
          <button class="btnparcourir"> Parcourir </button>
        </div>
      </div>
    </div>
  </form>
  <!-- ACTIONS BTN -->
  <div class="d-flex justify-content-end my-5">
    <app-btn-annuler></app-btn-annuler>
    <app-maj-demande nomBtn="Sauvegarder" [requeteStage]="requeteStage"></app-maj-demande>
  </div>
</main>