// IMPORT UTILS
@import '../../../sass/utils/variables'

.btnAnnuler
    background-color: $refus
    color: #fff
    margin: 0 1rem 0 0
    line-height: 2rem
    &:hover
        background-color: $refus-hover
