.crudbut {
  border: none;
  background: none;
}

.title {
  color: #707070;
}

.fa-pen-to-square {
  color: #f89747;
}

.fa-eye {
  color: #22a6ac;
}

.fa-trash-can {
  color: rgba(242, 102, 137, 0.9294117647);
}

.fa-suitcase {
  color: #FF9FA3;
  border: 2px black;
  margin-right: 25px;
  padding: 15px;
  background-color: #BB2026;
  border-radius: 10px;
}
.fa-suitcase-inactive {
  color: #FFFFFF;
  margin-right: 25px;
  padding: 15px;
  border-radius: 10px;
  background-color: #808080;
}

.bordure {
  border-left: 5px solid #BB2026;
  height: 50px;
  padding-left: 20px;
}

.bordure-inactive {
  border-left: 5px solid #808080;
  height: 50px;
  padding-left: 20px;
}

.poste {
  color: #BB2026;
  font-weight: bold;
}

.poste-inactive {
  color: black;
  font-weight: bold;
}