<main class="main">
  <h1>Offre de stages</h1>
<div class="ajout">
  <!--- <div class="d-flex justify-content-end">-->
  <button class="bouton mt-5 mb-2" role="alert" routerLink='/offres-de-stages/add'>
    <!-- <button class="btn btn-danger mb-2" role="alert" routerLink='/offres-de-stages/add'> -->
    Ajouter une demande
  </button>
</div>
  <div class="fiche mt-4">

    <!-- *************************************
    TABLEAU EN LISTE
    ****************************************** -->
    <div class="container-fluid">
      <ul>
        <!-- 2 <li> avec enfants <ul> -->
        <!-- <LI> TITRE POUR XL et + -->
        <li id="titreMD">
          <ul class="row">
            <li class="col-12 d-none">ID</li>
            <li class="col-xl-4 mx-auto">
              <p class="me-3 pb-2 borderTitle">Poste</p>
              <!-- <hr> -->
            </li>
            <li class="col-xl-3 mx-auto">
              <p class="me-3 mb-4 pb-2 borderTitle">Secteur&nbsp;d'activité</p>
            </li>
            <li class="col-xl-2">
              <p class="me-3 mb-4 pb-2 borderTitle">Région</p>
            </li>
            <li class="col-xl-2">
              <p class="me-3 mb-4 pb-2 borderTitle">Date&nbsp;d'inscription</p>
            </li>
            <li class="col-xl-1">
              <p class="mb-4 pb-2 borderTitle d-none">Actions</p>
            </li>
          </ul>
        </li>
        <!-- <LI> TITRE POUR MOBILE & données-->
        <!-- ID -->
        <li>
          <ul class="row my-4 border-bottom" *ngFor="let offreStage of offresStages">
            <li class="col-12 d-none mx-auto">
              <p class="me-xl-3 mb-xl-4 pb-xl-2 ">
                <span class="titreXS">ID<br></span>
                {{ offreStage._id }}
              </p>
            </li>
            <!-- POSTE -->
            <li class="col-12 col-xl-4 mb-3 mb-xl-4"
              [ngClass]="offreStage.active ? 'bordure' : 'bordure bordure-inactive'">
              <p class="me-xl-3">
                <span class="titreXS">Poste<br>
                </span>
                <i
                [ngClass]="offreStage.active ? 'fa-solid fa-suitcase ' : 'fa-solid fa-suitcase fa-suitcase-inactive'"></i>
                <span class="bold" [ngClass]="offreStage.active ? 'poste ' : 'poste poste-inactive'">{{
                  offreStage.title }}<br></span>
                {{ offreStage.enterprise}}
              </p>
            </li>
            <!-- SECTEUR D'ACTIVITÉ -->
            <li class="col-12 col-xl-3 mb-3 mb-xl-4">
              <p class="me-lg-3 mb-lg-4">
                <span class="titreXS">Secteur d'activité<br></span>
                {{ offreStage.program }}
              </p>
            </li>
            <!-- RÉGION -->
            <li class="col-6 col-xl-2 mx-auto">
              <p class="me-3 mb-4 pb-2">
                <span class="titreXS">Région<br></span>
                {{ offreStage.stageType }}
              </p>
            </li>
            <!-- DATE INSCRIPTION -->
            <li class="col-6 col-xl-2 mx-auto">
              <p class="me-3 mb-4 pb-2">
                <span class="titreXS">Date d'inscription<br></span>
                {{ offreStage.startDate | date:'longDate':'undefined':'fr'}}
              </p>
            </li>
            <!-- BOUTONS ACTIONS -->
            <li class="col-12 col-xl-1 mx-auto mb-5 mb-xl-0">
              <p class="minwidht">
                <span class="titreXS d-none">Actions<br></span>
                <button routerLink='/offres-de-stages/view/{{ offreStage._id }}'>
                  <i class="fa-solid fa-eye"></i></button>
                <button routerLink='/offres-de-stages/edit/{{ offreStage._id }}'>
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button (click)="open(deleteModal,offreStage)">
                  <i class="fa-solid fa-trash-can"></i>
                </button>
              </p>
            </li>
          </ul>
        </li>
      </ul>
    </div>



















    <!--- table borderless pour enlever le HR sous les entêtes -->
    <!-- <table class="table table-borderless">
      <thead>
        <tr class="title">
          <th scope="col" class="d-none">ID</th>
          <th scope="col">Poste</th>
          <th scope="col">Secteur d'activité</th>
          <th scope="col">Région</th>
          <th scope="col">Date de publication</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let offreStage of offresStages">
          <td class="d-none">{{ offreStage._id }}</td>
          <td> <i [ngClass]="offreStage.active ? 'bordure' : 'bordure bordure-inactive'"></i>
            <i
              [ngClass]="offreStage.active ? 'fa-solid fa-suitcase ' : 'fa-solid fa-suitcase fa-suitcase-inactive'"></i>
            <span [ngClass]="offreStage.active ? 'poste ' : 'poste poste-inactive'">{{ offreStage.title }} </span>{{
            offreStage.enterprise }}
          </td>
          <td>{{ offreStage.program }}</td>
          <td>{{ offreStage.stageType }}</td>
          <td>{{ offreStage.startDate | date:'longDate':'undefined':'fr'}}</td>
          <td>
            <button class="crudbut" routerLink='/offres-de-stages/view/{{ offreStage._id }}'>
              <i class="fa-solid fa-eye p-2"></i></button>
            <button class="crudbut" routerLink='/offres-de-stages/edit/{{ offreStage._id }}'>
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button class="crudbut" (click)="open(deleteModal,offreStage)">
              <i class="fa-solid fa-trash-can p-2"></i>
            </button>
          </td>
        </tr>
      </tbody>
      <ng-template #deleteModal let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="titremodal">Suppression</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
            <span aria-hidden="true">x</span>
          </button>
        </div>
        <div class="modal-body text-center">
          Voulez vous supprimer l'offre de stage ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="modal.close('Delete')">Oui</button>
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('No')">Non</button>
        </div>
      </ng-template>
    </table> 
  </div>end fiche
</main>-->

<!-- MODAL DELETE ....................................... -->
<ng-template #deleteModal let-modal class="supression">
  <div class="modal-header">
    <h4 class="modal-title" id="titremodal">Suppression</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body text-center">
    Voulez vous supprimer l'offre de stage ?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Delete')">Oui</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('No')">Non</button>
  </div>
</ng-template>