@import '../../../sass/utils/variables'
@import '../../../sass/utils//mixins'
@import '../../../sass/utils//mixin-btn'
.parcourirLogo
    margin: 0
    padding: 1rem 1rem
    border-radius: 0 5px 5px 0px

.title
    border-color: $color-tableaubord