<div class="header">
  <img src="../assets/img/logo-eStage.svg" alt="logo" class="logoMobile">
</div>

<div class="id">
  <div (keyup.enter)="login()" class="login-container container-fluid g-0">
    <div class="row g-0">
        <!-- IMG -->
      <div class="col-md-6 left">
        <!-- <img src="../assets/img/bg-body.png" alt="" class="login-img img-fluid"> -->
      </div>
      <!-- IDENTIFICATION -->
      <div class="col-md-6 login-content right">
        <h1>Identification</h1>
        <p>Lorem ipsum magna aliqua. ut enim ad minim veniam, quis nostrud exercietation ullamco laboris nisi consequat.
        </p>
        <form class="login">
          <input type="text" placeholder="Nom et prénom" [(ngModel)]="profil.name" name="name"><br>
          <input type="text" placeholder="Adresse courriel" [(ngModel)]="profil.email" name="email"><br>
          <button type="submit" (click)="login()" class="login">Accéder maintenant</button>
        </form>
      </div>
    </div>
  </div>
</div>
