<div (keyup.enter)="login()" class="login-container">
    <img src="../assets/img/bg-body.png" alt="" class="login-img">
    <div class="login-content">
        <h1>Identification</h1>
        <p>Lorem ipsum magna aliqua. ut enim ad minim veniam, quis nostrud exercietation ullamco laboris nisi consequat.
        </p>
        <form class="login">
            <input type="text" placeholder="Nom et prénom" [(ngModel)]="profil.name" name="name">
            <input type="text" placeholder="Adresse courriel" [(ngModel)]="profil.email" name="email">
            <button type="submit" (click)="login()" class="login">Accéder maintenant</button>
        </form>
    </div>
</div>