<div class="nav">
    <img src="assets/logo-estage.png" alt="logo" class="logo">
    <button class="red"><a routerLink="/offres-de-stages">
            <fa-icon [icon]="faPlus"></fa-icon> Ajouter une offre de stage
        </a></button>
    <button class="yellow"><a routerLink="/demandes-de-stages/add">
            <fa-icon [icon]="faPlus"></fa-icon> Ajouter une demande de stage
        </a></button>
    <button class="blue"><a routerLink="/entreprises">
            <fa-icon [icon]="faPlus"></fa-icon> Ajouter une entreprise
        </a></button>
    <button class="pink"><a routerLink="/candidats/add">
            <fa-icon [icon]="faPlus"></fa-icon> Ajouter un candidat
        </a></button>
    <div class="admin">
        <div class="admin-left">
            <span>John Doe</span>
            <a href="/tableau-de-bord">Admin</a>
        </div>
        <div class="admin-right">
            <img src="https://via.placeholder.com/35.png/09f/fff" class="profile" alt="">
        </div>
    </div>
</div>
