<div class="row my-5 no-wrap">
  <!-- DEMANDES DE STAGE COMPTEUR -->
  <div class="col-12 col-xl-4">
    <div class="stages p-4" routerLink="/demandes-de-stages">
      <i class="fab fa-wpforms"></i>
      <p>Demande&nbsp;de&nbsp;stage<br>
        <span class="numCompteur">{{demandes.length}}</span>
      </p>
    </div>
  </div>
  <!-- OFFRES DE STAGE COMPTEUR -->
  <div class="col-12 col-xl-4">
    <div class="offres p-4" routerLink="/offres-de-stages">
      <i class="fa-solid fa-paper-plane"></i>
      <p>Offre&nbsp;de&nbsp;stage<br>
        <span class="numCompteur">{{offres.length}}</span>
      </p>
    </div>
  </div>
  <div class="col-12 col-xl-4">
    <div class="row p-0 m-0">
      <!-- CANDIDATS -->
      <div class="col-6 m-0 p-0">
        <div class="candidats m-0 py-4 px-0" routerLink="/candidats">
          <i class="fas fa-user min"></i>
          <p>Candidats<br>
            <span class="numCompteur">{{candidats.length}}</span>
          </p>
        </div>
      </div>
      <!-- ENTREPRISES -->
      <div class="col-6 m-0 p-0">
        <div class="entreprises m-0 py-4 px-0" routerLink="/entreprises">
          <i class="fas fa-building min"></i>
          <p>Entreprises<br>
            <span class="numCompteur">{{entreprises.length}}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>