//colors
$color_brandy_punch_approx: #cd9635
$white: white
$color_cardinal_approx: #bb2026

.compteurs 
	padding-bottom: 50px


.stages 
	background-color: $color_brandy_punch_approx
	width: 428px
	height: 145px
	//If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
	border-radius: 10px
	margin: 15px
	border-right: 10px

.fa-wpforms 
	color: $white
	width: 65px
	height: 65px
    

.fa-paper-plane 
	color: $white
	width: 65px
	height: 65px

.offres 
	background-color: $color_cardinal_approx
	width: 428px
	height: 145px
	//If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
	border-radius: 10px
	margin: 15px