<main class="main">
  <!-- TITLE - DEMANDE STAGE...................................... -->
  <div class="title">
    <h2>Demande de stage</h2>
    <h1>{{requeteStage.title}}</h1>
    <p><span class="entreprise">{{requeteStage.entreprise}}</span></p>
  </div>
  <!-- ACTIONS BTN -->
  <form ngNativeValidate #f="ngForm" >
  <div class="d-flex justify-content-end my-5">
    <app-btn-annuler></app-btn-annuler>
    <app-maj-demande nomBtn="Mettre à jour" [requeteStage]="requeteStage"></app-maj-demande>
  </div>

  <div class="fiche">
    <!-- INFO CANDIDAT...................................... -->
      <!--- Nom-->
      <label>Candidat</label>
      <input class="form-control mb-4" type="text" [(ngModel)]="requeteStage.studentName" name="John Doe" required>
      <!--- Présentation-->
      <div class="form-group">
        <label>Présentation</label>
        <!--- Textbox info supp-->
        <textarea class="form-control mb-5" id="formtext" rows="2" [(ngModel)]="requeteStage.studentPresentation"
          name="Présentation" required></textarea>
      </div>
      <!-- .................................1ERE ROW -->
      <div class="row">
        <!-- 1ERE ROW - COL-MD-6 -->
        <div class="col-md-6">
          <!--- Programme -->
          <div class="border-form">
            <label>Programme de formation</label>
            <input type="text" class="form-control" [(ngModel)]="requeteStage.program" name="Formation" required>
          </div>
        </div>
        <!-- 1ERE ROW - COL-MD-6 -->
        <div class="col-md-6">
          <!--- Établissement -->
          <div class="border-form">
            <label>Établissement scolaire</label>
            <input type="text" class="form-control" [(ngModel)]="requeteStage.school" name="Établissement" required>
          </div>
        </div>
      </div>
      <!-- .................................2E ROW -->
      <div class="row">
        <!-- 2E ROW - COL-MD-6 -->
        <div class="col-md-6">
          <!--- Secteur d'activité -->
          <div class="border-form">
            <label>Secteur d'activité</label>
            <select class="form-control padding" [(ngModel)]="requeteStage.activitySector" name="activitySector"
              required>
              <option *ngFor="let activitySector of activitySectors" value={{activitySector.title}}>
                {{activitySector.title}}</option>
            </select>
          </div>
        </div>
        <!-- 2E ROW - COL-MD-6 -->
        <div class="col-md-6">
          <!--- Ville -->
          <div class="border-form">
            <label>Ville</label>
            <input type="text" class="form-control" [(ngModel)]="requeteStage.city" name="Ville" required>
          </div>
        </div>
      </div>
      <!-- .................................3E ROW -->
      <div class="row">
        <div class="col-md-6">
          <!--- Région -->
          <div class="border-form">
            <label>Région</label>
            <select class="form-control padding" [(ngModel)]="requeteStage.region" name="Région" required>
              <option value="a-voir">Veuillez effectuer un choix</option>
              <option value="Kansas">Kansas</option>
              <option value="Connecticut">Connecticut</option>
              <option value="Washington">Washington</option>
              <option value="Illinois">Illinois</option>
              <option value="Nevada">Nevada</option>
              <option value="Nebraska">Nebraska</option>
              <option value="Vermont">Vermont</option>
            </select>
          </div>
        </div>
      </div>
      <!-- .................................4E ROW -->
      <div class="row">
        <div>
          <!--- Compétences -->
          <div class="border-form">
            <label>Compétences</label>
            <textarea class="form-control" id="formtext" rows="2" [(ngModel)]="requeteStage.skills" name="Compétences"
              required></textarea>
          </div>
        </div>
      </div>

      <!-- ............................................... -->
      <!--- BLOC 2 -->
      <!-- ............................................... -->
      <h4>Informations sur le stage recherché</h4>
      <!-- ..............................................1ERE ROW -->
      <div class="row">
        <!-- 1ERE ROW - COL MD 6 -->
        <div class="col-md-6">
          <!--- Type de stage -->
          <div class="border-form">
            <label>Type de stage</label>
            <select class="form-control" [(ngModel)]="requeteStage.stageType" name="stageType" required>
              <option value="fulltime">Temps Plein</option>
              <option value="parttime">Temps Partiel</option>
            </select>
          </div>
          <!--- Nombre d'heures semaine-->
          <div class="border-form">
            <label>Nombres d'heures par semaine</label>
            <select class="form-control" [(ngModel)]="requeteStage.hoursPerWeek" name="Nombre D'heures" required>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
              <option value="25">25</option>
              <option value="30">30</option>
              <option value="35">35</option>
              <option value="40">40</option>
            </select>
          </div>
        </div>
        <!-- 1ERE ROW - COL MD 6 -->
        <div class="col-md-6">
          <!--- Date de début-->
          <div class="border-form">
            <label>Date de début</label>
            <input class="form-control" type="date" id="start" value="{{requeteStage.startDate}}" min="2022-01-01"
              max="2025-12-31" [ngModel]="requeteStage.startDate | date:'yyyy-MM-dd'"
              (ngModelChange)="requeteStage.startDate = $event" name="Start Date" required>
          </div>
          <!--- date de fin-->
          <div class="border-form">
            <label>Date de fin</label>
            <input class="form-control" type="date" id="end" value="{{requeteStage.endDate}}" min="2022-01-01"
              max="2025-12-31" [ngModel]="requeteStage.endDate | date:'yyyy-MM-dd'"
              (ngModelChange)="requeteStage.endDate = $event" name="End Date" required>
          </div>
        </div>
      </div>
      <!-- ..................................................2E ROW -->
      <!--- Rémunération-->
      <div class="border-form col-md-6">
        <label>Rémunération</label>
        <div class="form-check">
          <div class="row">
            <div class="checkbox">
              <label class="enumeration">
                <input type="checkbox" value="not-specified" [checked]="checkPaid('not-specified')"
                  (change)="onCheckboxChange($event)" name="not-specified">&nbsp;&nbsp;À la discrétion de l'entreprise
              </label>
            </div>
            <div class="checkbox">
              <label class="enumeration">
                <input type="checkbox" value="paid" [checked]="checkPaid('paid')" (change)="onCheckboxChange($event)"
                  name="paid">&nbsp;&nbsp;Stage rémunéré
              </label>
            </div>
            <div class="checkbox">
              <label class="enumeration">
                <input type="checkbox" value="unpaid" [checked]="checkPaid('unpaid')"
                  (change)="onCheckboxChange($event)" name="unpaid">&nbsp;&nbsp;Stage non rémunéré
              </label>
            </div>
          </div>
        </div>
      </div>
      <!-- ..................................................3E ROW -->
      <div class="form-group">
        <h4>Information supplémentaire</h4>
        <!--- Textbox info supp-->
        <textarea class="form-control" id="formtext" rows="4" [(ngModel)]="requeteStage.additionalInfo" name="More Info"
          required></textarea>
      </div>
      <!-- ..................................................4E ROW -->
      <div class="row mt-5">
        <div class="col-md-8">
          <!--- Bouton parcourir -->
          <input type="text" class="parcourir">
          <button class="btnparcourir"> Parcourir </button>
        </div>
        <div class="col-md-4 d-flex justify-content-end mt-2">
          <!-- BUTTON CV -->
          <button type="submit" class="btn btn-primary color"
            onclick="window.open('../../../assets/files/cvCandidat.pdf');">
            <i class="fas fa-cloud-download-alt"></i> Télécharger le C.V.
          </button>
        </div>
      </div>
  </div>
  <div class="d-flex justify-content-end my-5">
    <app-btn-annuler></app-btn-annuler>
    <app-maj-demande nomBtn="Mettre à jour" [requeteStage]="requeteStage"></app-maj-demande>
  </div>
</form>
</main>