<h2>Demande de stage</h2>
<h1>Développeur Front-End</h1>
<app-btn-annuler></app-btn-annuler>
<button class="alert alert-primary"><i class="fa-solid fa-floppy-disk p-2"></i>Mettre à jour</button>
<form>
    <!--- Nom-->
    <label>Candidat:</label>
    <input class="form-control" type="text" [(ngModel)]="candidat.name" #name="ngModel" placeholder="" required>

    <!--- Présentation-->
    <div class="form-group">
        <label>Présentation</label>
        <!--- Textbox info supp-->
        <textarea class="form-control" id="formtext" rows="2"></textarea>
    </div>

    <div class="row">
        <div class="col">
            <!--- Programme -->
            <label>Programme de formation</label>
            <input type="text" class="form-control" placeholder="" required>
        </div>
        <div class="col">
            <!--- Établissement -->
            <label>Établissement scolaire</label>
            <input type="text" class="form-control" placeholder="" required>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!--- Secteur d'activité -->
            <label>Secteur d'activité</label>
            <select class="form-control">
                <option value="a-voir">Veuillez effectuer un choix</option>
            </select>
        </div>
        <div class="col">
            <!--- Ville -->
            <label>Ville</label>
            <input type="text" class="form-control" placeholder="" required>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!--- Région -->
            <label>Région</label>
            <select class="form-control">
                <option value="a-voir">Veuillez effectuer un choix</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!--- Compétences -->
            <label>Compétences</label>
            <textarea class="form-control" id="formtext" rows="2"></textarea>
        </div>
    </div>

    <!--- Bloc 2 -->
    <h2>Informations sur le stage recherché</h2>
    <div class="row">
        <div class="col">
            <!--- Type de stage -->
            <label>Type de stage</label>
            <select class="form-control">
                <option value="a-voir">Veuillez effectuer un choix</option>
            </select>
        </div>
        <div class="col">
            <!--- Date de début-->
            <label>Date de début</label>
            <!--- à voir date picker Angular-->
            <input type="date" id="start" name="trip-start" value="2022-03-11" min="2022-01-01" max="2025-12-31">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <!--- Nombre d'heures semaine-->
            <label>Nombres d'heures par semaine</label>
            <select class="form-control">
                <option>Veuillez effectuer un choix</option>
            </select>
        </div>
        <div class="col">
            <!--- date de fin-->
            <label>Date de fin</label>
            <!--- à voir date picker Angular-->
            <input type="date" id="end" name="trip-end" value="2022-03-31" min="2022-01-01" max="2025-12-31">
        </div>
    </div>

    <!--- Rémunération-->
    <label>Rémunération</label>
    <div class="form-check">
        <div class="row">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="discretion">À la discrétion de l'entreprise </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remunere">Stage rémunéré </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="nonremunere">Stage non rémunéré </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <h2>Information supplémentaire</h2>
        <!--- Textbox info supp-->
        <textarea class="form-control" id="formtext" rows="4"></textarea>
    </div>

    <!--- Bouton parcourir -->
    <button class="alert alert-light p-2"> Parcourir </button>

    <div class="btn-group">
        <!--- Annuler / sauvegarder -->
        <app-btn-annuler></app-btn-annuler>
        <button class="alert btn-info p-2"><i class="fa-solid fa-floppy-disk"></i>Mettre à jour</button>
    </div>
</form>