<main class="main">
  <!-- TITLE - STAGE...................................... -->
  <div class="title">
    <h2>Demande de stage</h2>
    <h1>{{requete_stage.title}}</h1>
  </div>

  <!-- ACTIONS CRUD BTN -->
  <div id="crud">
    <button><i class="fa-solid fa-check accepticon" (click)="requeteStatus(requete_stage,true)"
        (click)="open(activeModal,requete_stage)"></i></button>
    <button><i class="fa-solid fa-pen-to-square editicon"
        routerLink='/demandes-de-stages/edit/{{ requete_stage._id }}'></i></button>
    <button (click)="open(deleteModal,requete_stage)"><i class="fas fa-window-close"></i></button>
  </div>
  <div class="fiche">
    <!-- INFO CANDIDAT...................................... -->
    <h3>{{requete_stage.studentName}}</h3>
    <p>{{requete_stage.studentPresentation}}studentName</p>

    <!-- 1ERE ROW...................................... -->
    <div class="row">
      <!-- 1ERE ROW - COL 6 -->
      <div class="col-md-6">
        <div class="border-form">
          <h5>Programme de formation</h5>
          <p>{{requete_stage.program}}</p>
        </div>
        <div class="border-form">
          <h5>Secteur d'activité</h5>
          <p>{{requete_stage.activitySector}}</p>
        </div>
        <div class="border-form">
          <h5>Compétences</h5>
          <p>{{requete_stage.skills}}</p>
        </div>
      </div>
      <!-- 1ERE ROW - COL 6 -->
      <div class="col-md-6">
        <div class="border-form">
          <h5>Établissement d'enseignement</h5>
          <p>{{requete_stage.school}}</p>
        </div>
        <div class="border-form">
          <h5>Ville</h5>
          <p>{{requete_stage.city}}</p>
        </div>
        <div class="border-form">
          <h5>Région</h5>
          <p>{{requete_stage.region}}</p>
        </div>
      </div>
    </div>
    <h4>Information sur le stage recherché</h4>
    <div>
      <!-- 2E ROW...................................... -->
      <div class="row">
        <!-- 2E ROW - COL 6 -->
        <div class="col-md-6">
          <div class="border-form">
            <h5>Type de stage</h5>
            <p>{{requete_stage.stageType}}</p>
          </div>
          <div class="border-form">
            <h5>Nombre d'heure par semaine</h5>
            <p>{{requete_stage.hoursPerWeek}}</p>
          </div>
          <div class="border-form">
            <h5>Rémunération</h5>
            <p>{{requete_stage.paid}}</p>
          </div>
        </div>
        <!-- 2E ROW - COL 6 -->
        <div class="col-md-6">
          <div class="border-form">
            <h5>Date de début</h5>
            <p>{{requete_stage.startDate | date:'longDate':'undefined':'fr'}}</p>
          </div>
          <div class="border-form">
            <h5>Date de fin</h5>
            <p>{{requete_stage.endDate | date:'longDate':'undefined':'fr'}}</p>
          </div>
        </div>
      </div>
      <!-- INFORMATION SUPP...................................... -->
      <h4>Informations supplémentaires</h4>
      <p>{{requete_stage.additionalInfo}}</p>
      <!-- BUTTON CV -->
      <button type="submit" class="btn btn-primary mt-4 color"
        onclick="window.open('../../../assets/files/cvCandidat.pdf');">
        <i class="fas fa-cloud-download-alt"></i> Télécharger le C.V.
      </button>

    </div>
  </div>
</main>

<!-- DELETE MODAL ...................................... -->
<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="titremodal">Suppression</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
      <span aria-hidden="true">x</span>
    </button>
  </div>
  <div class="modal-body text-center">
    Voulez vous supprimer la demande de stage ?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Delete')">Oui</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('No')">Non</button>
  </div>
</ng-template>


<!-- ACTIVÉE ...................................... -->
<ng-template #activeModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="titremodal">Demande activée</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
      <span aria-hidden="true">x</span>
    </button>
  </div>
  <div class="modal-body text-center">
    Vous avez activée la demande
  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-outline-dark" (click)="modal.close('No')">OK</button>
  </div>
</ng-template>