// VAR COLOR GLOBAL
$color-tableaubord: #089DA4
$color-offres: #BB2026
$color-demandes: #CD9635
$color-entreprises: #86A9E6
$color-candidats: #7F2987
$color-h1-h2-p:#707070
$placeholder: #8A8A8A

// VAR COLOR ICONS/button CRUD
$delete: #f26689
$view: #22a6ac
$edit: #f89747
$accept: #07A04A
$accept-bg: #CDECDB
$refus: #A00707
$refus-bg: #ECCDCD

.main
    max-width: 1320px
.title
    border-left: 10px solid
    padding-left: 1.25rem
    margin-bottom: 8.75rem
    color: $color-demandes

.fiche
    padding: 4.688rem
    background-color: #fff

// Pour les données récoltées dans les views.........
.border-form
    border-left: 10px solid $color-h1-h2-p
    margin-bottom: 2.188rem
    padding-left: 0.625rem

#ficheEleve p
    color: $placeholder
    font-size: 1.125rem
    line-height: 1.5rem